.spinner.is-active {
    float: none;
}

.media-scanner {
    margin-bottom: 8px;
}

span.scan-progress:before {
    content: '(';
    margin-left: 4px;
}

span.scan-progress:after {
    content: '%)';
}

.media-usage {}
.media-usage .media-usage__item {
    display: flex;
    justify-content: space-between;
}
.media-usage .media-usage__left {}
.media-usage .media-usage__right {
    padding-left: 12px;
}
.media-usage .media-usage__link {}
.media-usage .media-usage__type {}

.loader-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.82);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    display: none;
}

#attachment_usage.is-disabled .loader-overlay {
    display: flex;
}
